
<div id="panel">
<% @elements.each do |e| %>
  <div class="hoge" title="<%= e['accessed_at'] %>">
    <img src='<%= e['uri'] %>' class="log" width="<%= e['count'] %>0px" />
  </div>
<% end %>
</div>



<script type="text/javascript">
$(document).ready(function(){
  setInterval("loader()", 5000)
});
function loader(){
  var latest_time = $('div.hoge').attr("title")
  var url = "/update/" + latest_time;
  $.getJSON(url,
    function(data) {
      var imgs = new Array();
      $.each(data, function(){
        imgs.push(this);
      });
      if( imgs.length ){
        showEntry(imgs);
      }
    });
}

function showEntry(imgs){
  var img = imgs.pop();
  var html = $("<img/>");
  html.attr('src', img.uri)
  var div = $("<div/>");
  div.append(html).addClass("hoge").attr('title',img.accessed_at).hide();
  $("#panel").prepend(div);
  div.animate({
    "height": "toggle", "opacity": "toggle"
    }, 1000,
    function(){
      if(imgs.length){ showEntry(imgs) }
    });
}
</script>







