
<%#= @elements.to_json %>

<div id="panel">
<% @elements.each do |v| %>
  <div class="user" style="">
    <a href="/user/<%= v['twitter_name'] %>"><img src='<%= v['user_icon'] %>' width="48" height="48" /></a>
    <%= Time.at(v['accessed_at'].to_i).strftime('%m/%d %H:%M:%S') %>
    <%= v['twitter_name'] %>
  </div>
<% end %>
</div>
