/******************* common **********************/
a:hover {
  text-decoration : none;
}

/******************** body ***********************/
body {
  overflow:hidden;
}

/******************** background *****************/
div#background {
  position : absolute;
  z-index : 0;
  /*background : url(http://gyazo.com/5494a506be760b37c873dea60472b298.png) 50% 50% no-repeat;*/
  /*background : url(http://a3.twimg.com/profile_background_images/112204483/62ee3b6b4712fdd819736659e7067251.png) 25% 25%;*/
  /*background : url(http://farm5.static.flickr.com/4150/4843713386_80b987a3a0_o.gif) 25% 25%;*/
  /*background : url(http://a1.twimg.com/profile_background_images/129525496/100122033.jpg) 25% 25%;*/
  /* background : url(http://a3.twimg.com/profile_background_images/112204483/62ee3b6b4712fdd819736659e7067251.png) 25% 25%; */
  background : url(http://www.cbc-net.com/log/images/2010/07/tic_botu.gif) 25% 25%;

}
@-webkit-keyframes moveBackGround {
  0% { top : 0px; left : 0px; }
  50% { top : -35px; left : 0px; }
  100% { top : 0px; left : 0px; }
}
div.moveBackGround {
  top : 0px;
  left : 0px;
  -webkit-animation-timing-function: ease-out;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-name: moveBackGround;
  -webkit-animation-duration: 15s;
}

/********************* dialog *******************/
div#bootMessageArea {
  height : 140px;
  width : 500px;
  background-color:#111;
  border : 1px solid #333;
  position : absolute;
  color : #FFF;
  padding : 20px;
  font-size: 1.5em;
  top : 30px; left : 30px;
  z-index : 1000;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

div#initialMask {
  z-index : 999;
  background-color : #FFF;
  position : absolute;
  top : 0; left : 0;
}

@-webkit-keyframes flashback {
  0% { opacity : 0 }
  3% { opacity : 0.5 }
  8% { opacity : 0 }
  100% { opacity : 0 }
}
div.flashback {
  opacity : 0;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-name: flashback;
  -webkit-animation-duration: 13s;
}

/** 
 * Invisible area.
 * For calculate an acutial image size.
 */
div#imagePool {
  position : fixed;
  overflow : hidden;
  z-index : 0;
  top : -150px; left : -150px;
  width : 10px;
  height : 10px;
  /*border : 2px solid #000;*/
}


div#contentArea {
  position : absolute;
  overflow:hidden;
  top : 0; left : 0;
  background : transparent;
}

div#contentArea > div {
  background : transparent;
  width : 100%; height : 100%;
  position : absolute; top : 0; left : 0; 
}

/************ wave animation ****************/
div#contentArea div.z1 {
  z-index : 1001;
}

@-webkit-keyframes moveImagesZ2 {
  0% { top : 0px; left : 0px; }
  33% { top : 0px; left : -10px; }
  66% { top : 0px; left : 10px; }
  100% { top : 0px; left : 0px; }
}
div#contentArea div.z2 {
  z-index : 1005;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-name: moveImagesZ2;
  -webkit-animation-duration: 15s;
}

@-webkit-keyframes moveImagesZ3 {
  0% { top : 0px; left : 0px; }
  33% { top : 0px; left : -30px; }
  66% { top : 0px; left : 30px; }
  100% { top : 0px; left : 0px; }
}
div#contentArea div.z3 {
  z-index : 1006;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-name: moveImagesZ3;
  -webkit-animation-duration: 15s;
}

/************* drop down animation *******************/

@-webkit-keyframes dropDownImageFast2 {
  0% { top : -30%; -webkit-transform: rotateX(0deg);}
  100% { top : 100%; -webkit-transform: rotateX(360deg);}
}
div#contentArea div.dropDownFast2 {
  z-index : 1010;
  -webkit-perspective: 500;
}
div#contentArea div.dropDownFast2 img{
  top : 9999px;
  -webkit-animation-timing-function: ease-in;
  -webkit-animation-iteration-count: 2;
  -webkit-animation-name: dropDownImageFast2;
  -webkit-animation-duration: 4s;
}

@-webkit-keyframes dropDownImageFast {
  0% { top : -20%; -webkit-transform: rotateZ(0deg);}
  100% { top : 100%; -webkit-transform: rotateZ(360deg);}
}
div#contentArea div.dropDownFast {
  z-index : 1010;
}
div#contentArea div.dropDownFast img{
  top : 9999px;
  -webkit-animation-timing-function: ease-in;
  -webkit-animation-iteration-count: 2;
  -webkit-animation-name: dropDownImageFast;
  -webkit-animation-duration: 4s;
}

@-webkit-keyframes dropDownImageMiddle {
  0% { top : -60%;}
  100% { top : 100%;}
}
div#contentArea div.dropDownMiddle {
  z-index : 1005;
}
div#contentArea div.dropDownMiddle img{
  top : 9999px;
  -webkit-animation-timing-function: ease-in;
  -webkit-animation-iteration-count: 2;
  -webkit-animation-name: dropDownImageMiddle;
  -webkit-animation-duration: 10s;
}

@-webkit-keyframes dropDownImageSlow {
  0% { top : -100%;}
  100% { top : 100%;}
}
div#contentArea div.dropDownSlow {
  z-index : 1001;
}
div#contentArea div.dropDownSlow img{
  top : 9999px;
  -webkit-animation-timing-function: ease-in;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-name: dropDownImageSlow;
  -webkit-animation-duration: 10s;
}

/************** tile animation **************/

@-webkit-keyframes tileshow {
  0% { -webkit-transform: rotateY(0deg);}
  100% { -webkit-transform: rotateY(360deg);}
}

div#contentArea div.tile img {
  position : static;
  margin : 5px;
  float : left;
  -webkit-animation-timing-function: ease-out;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-name: tileshow;
  -webkit-animation-duration: 0.3s;
}

@-webkit-keyframes endTile {
  0% { 
    top : 0px;
    left : 0px; 
    -webkit-transform: rotateZ(0deg); 
    opacity : 1;
  }
  100% { 
    top : 70%; 
    left : 70%; 
    -webkit-transform: rotateZ(360deg); 
    opacity : 0;
  }
}

div#contentArea div.endTile {
  -webkit-animation-timing-function: ease-in;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-name: endTile;
  -webkit-animation-duration: 3s;
}

@-webkit-keyframes showImg {
  0% { opacity : 0}
  100% { opacity : 1 }
}
@-webkit-keyframes deleteImg {
  0% { opacity : 1}
  100% { opacity : 0 }
}
div#contentArea img {
  position : absolute;
  display : block;
  -webkit-animation-timing-function: ease-in;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-duration: 1s;
}
div#contentArea img.show {
  -webkit-animation-name: showImg;
}
div#contentArea img.delete {
  -webkit-animation-name: deleteImg;
}


/************** mogra animation *************/
div.mograBase {
  -webkit-perspective : 50;
}

@-webkit-keyframes mogra {
  0% { top : -20%; opacity : 0}
  10% { top : 8%; opacity : 0.5}
  20% { top : 36%; opacity : 1}
  95% { top : 246%: opacity : 1}
  100% { top : 260%; opacity : 0.5}
}

div.mograBase div.fast img {
  position : absolute;
  top : 260%;
  opacity : 0;
  -webkit-animation-timing-function: linear !important;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-name: mogra;
  -webkit-animation-duration: 4s !important;
}

div.mograBase div.slow img {
  position : absolute;
  top : 260%;
  opacity : 0;
  -webkit-animation-timing-function: linear !important;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-name: mogra;
  -webkit-animation-duration: 3s !important;
}

/*************** main message area **********/
div#mainmessage {
  position : absolute;
  overflow:hidden;
  top : 0; left : 0;
  background : transparent;
  z-index : 8001;
}

div#mainmessage > div {
  z-index : 8001;
  background : transparent;
  width : 100%; height : 100%;
  position : absolute; top : 0; left : 0; 
}


/**************** Userlist ***************/
div#mainmessage div.userListTitle {
  width : 80%;
  height : 40px;
  font-size: 20px;
  color : #FFF;
  background-color:rgba(50,50,50,0.8);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  top : 2%;
  left : 10%;
}

div.userListTitle > span {
  margin : 5px;
  display : block;
}

div#mainmessage div.userList {
  background-color:rgba(50,50,50,0.8);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  width : 80%;
  height : 80%;
  overflow : hidden;
  top : 10%;
  left : 10%;
}

div.userList table {
  position : absolute;
  top : -250%;
  margin : 30px;
  color : #FFF;
}

@-webkit-keyframes scrollUserList {
  0% { top : 100%; }
  100% { top : -250%;}
}

div.userList table.animation {
  -webkit-animation-name: scrollUserList;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-duration: 14s;
}

div.userList td.user_icon {
  padding-right : 10px;
  padding-bottom : 10px;
}
div.userList td.user_icon > div {
  width : 100px;
  height : 100px;
  overflow : hidden;
}
div.userList td.user_icon img {
  position : static !important;
  width : 100px;
}
div.userList td.puid {
  padding : 5px;
  font-size:30px;
  overflow : hidden;
}


/******************* notification message *********/

div#mainmessage div.notificationMessage {
  width : 80%;
  height : 80%;
  font-size: 40px;
  color : #FFF;
  background-color:rgba(50,50,50,0.85);
  border-color : #333;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  top : 10%;
  left : 10%;
  padding : 20px;
}

div#mainmessage div.notificationMessage img {
  width : 150px;
  margin-right:10px;
  margin-bottom:10px;
  position : static;
  float : left;
}

/*********** tweets ******************************/
div#mainmessage div.tweets {
  width : 90%;
  left : 5%;
}

div.tweet {
  color : #FFF;
  background-color:rgba(50,50,50,0.85);
  border-color : #333;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  top : 10%;
  left : 10%;
  padding : 20px;
  margin : 20px;
}

div.tweet div.body {
  float : left;
}
div.tweet div.text {
  font-size:1.5em;
}

div.tweet img {
  display : block;
  float : left;
  margin : 0 20px 0 0;
  width : 100px;
  max-height : 200px;
}

/*********** proxy log screen ********************/

div#logScreen {
  position : absolute;
  overflow : hidden;
  width : 100%;
  bottom : 0;
  left : 0;
  z-index : 8000;
  font-size: 20px;
  color : #0F0;
  font-family: 'courier';
  opacity :  0.8;
}

div#logScreen p.log {
  margin-top:15px;
}

span.twitterName {
  background-color:#FFF;
  color:#000;
}

div#logScreen p.space {
  margin-top:23px;
}

/******************* sideMenu **********************/
div.slideMenu {
  z-index : 9999;
  padding : 5px 0 5px 4px;
  color : #FFF;
  background-color : #888;
  position : fixed;
  width : 210px;
  height : 27px;
  border : 1px solid #FFF;

  -webkit-border-top-left-radius: 7px;
  -webkit-border-top-right-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
  -webkit-border-bottom-left-radius: 7px;
  -moz-border-radius-topleft: 7px;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomright: 0px;
  -moz-border-radius-bottomleft: 7px;
  border-top-left-radius: 7px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 7px;
}
div.slideMenu img {
  float : left;
  margin-right : 10px;
}

div.slideMenu a {
  color : #FFF;
  font-weight : bold;
  display : block;
  margin : 5px 0 3px 0;
}
