/******************* common **********************/
a:hover {
  text-decoration : none;
}

/******************** body ***********************/
body {
  overflow:hidden;
}

/******************** background *****************/
div#background {
  position : absolute;
  z-index : 0;
  background : url(http://farm5.static.flickr.com/4039/4586019789_cf022c006c_o.jpg) 50% 50% no-repeat;
}
@-webkit-keyframes moveBackGround {
  0% { top : 0px; left : 0px; }
  50% { top : -35px; left : 0px; }
  100% { top : 0px; left : 0px; }
}
div.moveBackGround {
  top : 0px;
  left : 0px;
  -webkit-animation-timing-function: ease-out;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-name: moveBackGround;
  -webkit-animation-duration: 15s;
}

/********************* dialog *******************/
div#bootMessageArea {
  height : 140px;
  width : 500px;
  background-color:#111;
  border : 1px solid #333;
  position : absolute;
  color : #FFF;
  padding : 20px;
  font-size: 1.5em;
  top : 30px; left : 30px;
  z-index : 1000
}

div#initialMask {
  z-index : 999;
  background-color : #FFF;
  position : absolute;
  top : 0; left : 0;
}

/** 
 * Invisible area.
 * For calculate an acutial image size.
 */
div#imagePool {
  position : fixed;
  overflow : hidden;
  z-index : 0;
  top : -150px; left : -150px;
  width : 10px;
  height : 10px;
  /*border : 2px solid #000;*/
}


div#contentArea {
  position : absolute;
  overflow:hidden;
  top : 0; left : 0;
  background : transparent;
}

div#contentArea > div {
  background : transparent;
  width : 100%; height : 100%;
  position : absolute; top : 0; left : 0; 
}

div#contentArea div.z1 {
  z-index : 1001;
}

@-webkit-keyframes moveImagesZ2 {
  0% { top : 0px; left : 0px; }
  33% { top : 0px; left : -10px; }
  66% { top : 0px; left : 10px; }
  100% { top : 0px; left : 0px; }
}
div#contentArea div.z2 {
  z-index : 1002;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-name: moveImagesZ2;
  -webkit-animation-duration: 15s;
}

@-webkit-keyframes moveImagesZ3 {
  0% { top : 0px; left : 0px; }
  33% { top : 0px; left : -30px; }
  66% { top : 0px; left : 30px; }
  100% { top : 0px; left : 0px; }
}
div#contentArea div.z3 {
  z-index : 1003;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-name: moveImagesZ3;
  -webkit-animation-duration: 15s;
}

@-webkit-keyframes dropDownImageFast {
  0% { top : -20%; -webkit-transform: rotateZ(0deg);}
  100% { top : 100%; -webkit-transform: rotateZ(360deg);}
}
div#contentArea div.dropDownFast {
  z-index : 1003;
}
div#contentArea div.dropDownFast img{
  top : 9999px;
  -webkit-animation-timing-function: ease-in;
  -webkit-animation-iteration-count: 3;
  -webkit-animation-name: dropDownImageFast;
  -webkit-animation-duration: 4s;
}

@-webkit-keyframes dropDownImageMiddle {
  0% { top : -40%;}
  100% { top : 100%;}
}
div#contentArea div.dropDownMiddle {
  z-index : 1002;
}
div#contentArea div.dropDownMiddle img{
  top : 9999px;
  -webkit-animation-timing-function: ease-in;
  -webkit-animation-iteration-count: 2;
  -webkit-animation-name: dropDownImageMiddle;
  -webkit-animation-duration: 6s;
}

@-webkit-keyframes dropDownImageSlow {
  0% { top : -100%;}
  100% { top : 100%;}
}
div#contentArea div.dropDownSlow {
  z-index : 1001;
}
div#contentArea div.dropDownSlow img{
  top : 9999px;
  -webkit-animation-timing-function: ease-in;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-name: dropDownImageSlow;
  -webkit-animation-duration: 8s;
}

div#contentArea div.tile img {
  position : static;
  margin : 5px;
  float : left;
}

@-webkit-keyframes showImg {
  0% { opacity : 0}
  100% { opacity : 1 }
}
@-webkit-keyframes deleteImg {
  0% { opacity : 1}
  100% { opacity : 0 }
}
div#contentArea img {
  position : absolute;
  display : block;
  -webkit-animation-timing-function: ease-in;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-duration: 1s;
}
div#contentArea img.show {
  -webkit-animation-name: showImg;
}
div#contentArea img.delete {
  -webkit-animation-name: deleteImg;
}


/******************* sideMenu **********************/
div.slideMenu {
  z-index : 9999;
  padding : 5px 0 5px 4px;
  color : #FFF;
  background-color : #888;
  position : fixed;
  width : 210px;
  height : 27px;
  border : 1px solid #FFF;

  -webkit-border-top-left-radius: 7px;
  -webkit-border-top-right-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
  -webkit-border-bottom-left-radius: 7px;
  -moz-border-radius-topleft: 7px;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomright: 0px;
  -moz-border-radius-bottomleft: 7px;
  border-top-left-radius: 7px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 7px;
}
div.slideMenu img {
  float : left;
  margin-right : 10px;
}

div.slideMenu a {
  color : #FFF;
  font-weight : bold;
  display : block;
  margin : 5px 0 3px 0;
}
