/* -*- mode:css; coding:utf-8; -*- */
body {
    font-size: 12pt;
    background: #000 url(http://gyazo.com/0cd3e2877f4085080f072734131902a4.png);
}

div.user{
    /* 文字の寄せや配置など */
    text-align: left;
    float:      left;

    /* ボックスの大きさや余白 */
    width:   18em;
    padding: 10px;
    padding-left: 20px;
    margin: 2px;

    /* 配色や装飾 */
    background:    #000;
    color:         #666;
    border: #333 solid 5px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;

    opacity: 0.9;
}

.user_icon,
.user_info {
    float:left;
    margin-right:10px;
}

div.user img{
    border: 0px;
}

/* リンク要素など */

a {
    font-size:2em;
}

a:link {
    color: #c00;
}

div.user:hover {
    color: #f00;
    background-color: #500;
    border-style: solid;
    border-color: #f00;
    border-width: 5px;
}

span:hover {
    border-style: none;
}

a:hover {
    border-style: none;
    color: #f33;
}

a:visited {
    text-decoration: none;
    color: #900;
}
